html {
  overflow-x: hidden;
}

body {
  margin: 0;
}

#container {
  font-family: Arial, Helvetica, sans-serif
}

.list {
  max-width: 70vw;
  min-height: 80px;
}

.list-item {
  padding: 25px;
  border-bottom: 1px solid lightgray;
  white-space: pre-line;
}

.toggle {
  position: absolute;
  top: 2vh;
  right: 32vw;
}

.menu {
  position: absolute;
  right: -30vw;
  width: 28vw;
  height: 96vh;
  background: lightgrey;
  transition: all .2s linear;
  top: 0;
  padding: 2vh 1vw;
}

.menu.show {
  right: 0;
}

.edit-item {
  padding-bottom: 20px;
}

.edit-field {
  resize: vertical;
  margin-bottom: 10px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}
